@import url('https://fonts.googleapis.com/css?family=Chivo:400,700&display=swap');

body {
    padding: 0;
    font-family: 'Chivo';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* header */

.header {
    background: url('./img/header.jpg') no-repeat center;
    background-attachment: fixed;
    padding: 60px 0;
    color: #FFFFFF;
}

.header h1 {
    margin: 0;
}

.header h1,
.header h4 {
    padding: 15px;
    float: left;
    clear: left;
    background: rgba(0, 0, 0, 0.7);
    width: auto;
    font-weight: 400;
    font-family: 'Chivo';
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wrapper {
  width: 100%;
  padding: 30px 0;
  background: #FFFFFF;
  display: inline-block;
}

.dropdown {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#gridContainer {
    margin-top: 75px !important;
}

/* Select */

.dropdown {
    margin: 0;
    margin-right: 10px;
}

select {
    padding: 0 10px;
    height: 45px;
    border: 1px solid #c3c3c3;
}

/* Table */

.table-bordered {
    margin-top: 20px !important;
    border: none !important;
}

/* Buttons */
.btn-info {
    border-radius: 0;
    font-weight: 300;
    background: #3498db !important;
    border: 1px solid transparent !important;    
}

.btn-position{
    float: left;
    margin-bottom: 10px !important;
}

.parametersCheckbox{
    margin-top: 10px;
    margin-bottom: 10px;
}
.parametersCheckbox > input{
    margin-right: 5px !important;
}

.gridStyling > tbody > tr:nth-child(even) {
    background-color: #E4E4E4 !important;
}

.gridStyling > tbody > tr:nth-child(odd) {
    background-color: #F6F6F6 !important;
}

.gridStyling > thead > tr:first-of-type {
    background-color: #3498db !important;
    padding: 20px;
    font-size: 16px;
}

.gridStyling > thead > tr > th,
.gridStyling > thead > tr > td {
    color: #FFFFFF !important;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: none;
    color: #343434;
    padding: 15px;
}

/* The Modal (background) */
.modal {
  padding-top: 50px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative !important;
  background-color: #fefefe !important;
  margin: auto !important;
  padding: 0 !important;
  /*border: 1px solid #888 !important;*/
  width: 60% !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  animation-name: animatetop !important;
  animation-duration: 0.4s !important;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px !important;
  background-color: #0984e3 !important;
  color: white !important;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px !important;
  background-color: #0984e3 !important;
  color: white !important;
  height: 70px;
}

/* The Close Button */
.close {
  color: white !important;
  float: right !important;
  font-size: 28px !important;
  font-weight: bold !important;
}

.close:hover,
.close:focus {
  color: black !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}