@*@using HotelBooking;

<!-- The Modal -->
<div id="filterModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Filter Rooms</h2>
        </div>
        <div class="modal-body container">
            Number: <input type="text" id="txtRoomNumber" class="form-control" autocomplete="disabled"><br>
            Type: @Html.DropDownList("Type",
                                        EnumHelper.GetSelectList(typeof(RoomType)), /*Need to hide "Select Room Type" option*/
                                        "Select Room Type",
                                        new { @id = "ddlType", @class = "form-control" })<br>
            Status: @Html.DropDownList("Status",
                                        EnumHelper.GetSelectList(typeof(RoomStatus)), /*Need to hide "Select Room Type" option*/
                                        "Select Room Status", //Any here, then remove Any from enums???
                                        new { @id = "ddlStatus", @class = "form-control" })<br>
            <input type="submit" id="btnFilter" class="btn btn-info btn-lg" onclick="filterRooms()" value="Search">
        </div>
        <div class="modal-footer"></div>
    </div>
</div>*@
