<!-- The Modal -->
<div id="filterModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Filter Measurements</h2>
        </div>
        <div class="modal-body container">
            Number of Rows Displayed: <input type="text" id="txtRows" class="form-control" autocomplete="disabled"><br>
            Date From: <input type="date" id="dtpFrom">
            Date To: <input type="date" id="dtpTo"><br>
             <div class="parametersCheckbox">
                Parameters:<br>
                pm25: <input type="checkbox" id="cbParametersPm25" name="pm25">
                pm10: <input type="checkbox" id="cbParametersPm10" name="pm10">
                so2: <input type="checkbox" id="cbParametersSo2" name="so2">
                no2: <input type="checkbox" id="cbParametersNo2" name="no2">
                o3: <input type="checkbox" id="cbParametersO3" name="o3">
                co: <input type="checkbox" id="cbParametersCo" name="co">
                bc: <input type="checkbox" id="cbParametersBc" name="bc">
            </div>     
            <input type="submit" id="btnFilter" class="btn btn-info btn-lg" value="Search">
        </div>
        <div class="modal-footer"></div>
    </div>
</div>
