@*@using HotelBooking; COULD HAVE PROBLEMS CONVERTING TO DATE AS UTC/LOCAL IN DTO ARE NOW STRINGS*@ 

<!-- The Modal -->
<div id="filterModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Filter Measurements</h2>
        </div>
        <div class="modal-body container">
            Number of Rows Displayed: <input type="text" id="txtRows" class="form-control" autocomplete="disabled"><br>
            Date From: <input type="date" id="dtpFrom">
            Date To: <input type="date" id="dtpTo">      
            Parameters: <input type="checkbox" id="clbParameters">      
            <input type="submit" id="btnFilter" class="btn btn-info btn-lg" onclick="filterRooms()" value="Search">
        </div>
        <div class="modal-footer"></div>
    </div>
</div>
