@using OpenAQWebApplication.ViewModels;

@model AreaSelectionViewModel
@{
    ViewBag.Title = "OpenAQ Readings";
}

<div class="wrapper">

    <div id="ddlCountryModel" class="dropdown"> @*rename*@
        @Html.DropDownListFor(m => m.countryModel.selectedCountryCode, Model.countryModel.countryDropdownItems)
    </div>
    <div id="ddlCityModel" class="dropdown">@*rename*@
        @Html.DropDownListFor(m => m.cityModel.selectedCityName, Model.cityModel.cityDropdownItems)
    </div>
    <div>
        <button id="filterBtn" type="button" class="btn btn-info btn-lg btn-position"><i class="fas fa-filter"></i>&nbsp; Filter Data</button>
    </div>

    <div id="gridContainer">
        @Html.Partial("Grid", Model.measurementsDTOModel.measurementsDTO)
    </div>

    @Html.Partial("Filter")

</div>