@using OpenAQ;
@using OpenAQ.Models.City;
@using OpenAQ.Models.Country;
@using OpenAQ.Models.Measurements;
@using RestSharp;
@using System.Web.Mvc;
@using System.Collections.Generic;
@using OpenAQWebApp.Models.Country;
@using OpenAQWebApplication.ViewModels;

@*<script src="~/Scripts/script.js"></script>*@

@model AreaSelectionViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="wrapper" style="margin-top:10px;">
    <h1>OpenAQ</h1>

    @*@Html.DropDownListFor(m => m.SelectedCountryCode, Model.CountryDropdownItems)*@

    @*@foreach (var item in Model.CountryInfo)
    {
        <h2>@item.Code</h2>
        <h2>@item.Name</h2>
    }*@

    @Html.DropDownListFor(m => m.CountryModel.SelectedCountryCode, Model.CountryModel.CountryDropdownItems)

    @Html.DropDownListFor(m => m.CityModel.SelectedCityName, Model.CityModel.CityDropdownItems)

</div>