@using OpenAQWebApplication.ViewModels;

@model AreaSelectionViewModel
@{
    ViewBag.Title = "OpenAQ Readings";
}

<h2>Measurements by City</h2>

<div class="wrapper" style="margin-top:10px;">
    <h1>OpenAQ</h1>

    <div id="ddlCountryModel"> @*rename*@
        @Html.DropDownListFor(m => m.countryModel.selectedCountryCode, Model.countryModel.countryDropdownItems)
    </div>
    <div id="ddlCityModel">@*rename*@
        @Html.DropDownListFor(m => m.cityModel.selectedCityName, Model.cityModel.cityDropdownItems)
    </div>

    @* Separate div for grid - bound to selected city name *@
    <div id="gridContainer" class="wrapper" style="margin-top:10px;">
        @Html.Partial("Grid", Model.measurementsDTOModel.measurementsDTO)
    </div>

</div>